body {
    margin: 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    min-width: 400px;
}

#input-el {
    width: 100%;
    /* 100% + 10px + 10px */
    padding: 10px 10px;
    border: 1px solid #5f9341;
    box-sizing: border-box;
    /* solves the extra width problem */
    margin-bottom: 5px;
}

#input-btn {
    width: 150px;
    height: 40px;
    padding: 6px 12px;
    background-color: #5f9341;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

li {
    margin-top: 10px;
}

a {
    /* (li a) -> targeting only the anchor tag present inside <li> items(Only if other anchor tags also exist). */
    color: #5f9341;
    text-decoration: #5f9341 underline;
}